* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p,
a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

li {
    list-style: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* =====COMMON SETUP END===== */

/* =====NAVIGATION BAR START===== */

#nav {
    position: fixed;
    z-index: 23;
    width: 100%;
}


#nav .logo {
    width: 20%;
    float: left;
}

#nav .logo img {
    margin-top: 40px;
}




#nav .menu {
    width: 69%;
    float: left;
}

#nav .menu ul {
    text-align: end;
    padding-top: 60px;
}

#nav .menu li {
    display: inline-block;
    padding: 0 10px;
}

#nav .menu li a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

#nav .menu li a:hover {
    color: #c7b299;
}


#nav .last-menu {
    width: 10%;
    float: left;
}

#nav .last-menu ul {
    text-align: end;
    padding-top: 60px;
}

#nav .last-menu li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

#nav .last-menu li a {
    font-size: 19px;
    color: #fff;
}

#nav .last-menu li a:hover {
    color: #c7b299;
}


#nav .last-menu .search-box {
    position: absolute;
    background: #E8E8E4;
    top: 45px;
    right: -10px;
    width: 325px;
    height: 60px;
    line-height: 52px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 4px solid #c7b299;
    display: none;
}


#nav .last-menu .search-box:before {
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #c7b299;
}

#nav .last-menu .search-box input[type="text"] {
    width: 200px;
    padding: 5px 10px;
    margin-left: 0px;
    border: 1px solid #c7b299;
    outline: none;
}

#nav .last-menu .search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: #c7b299;
    border: 1px solid #c7b299;
    outline: none;
    cursor: pointer;
    color: #fff;
    margin-left: -6px;
}

/* =====NAVIGATION BAR END===== */

/* =====BANNER SECTION START===== */

#banner .banner-img {
    padding: 200px 0;
}

#banner .banner-text {
    width: 608px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}


.banner-text h2 {
    font-size: 38px;
    font-weight: 600;
}

.banner-text h1 {
    font-size: 54px;
    padding: 15px 0;
}

.banner-text p {
    font-size: 17px;
}

.banner-text a {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    display: inline-block;
    background: #998675;
    border-radius: 6px;
    box-shadow: 0px 4px 0px #736357;
    margin-top: 30px;
    transition: .3s;
}

.banner-text a:hover{
    letter-spacing: 3px;
}

#banner .prev {
    position: absolute;
    top: 50%;
    left: 50px;
    color: #fff;
    font-size: 60px;
    z-index: 1;
    cursor: grab;
}

#banner .next {
    position: absolute;
    top: 50%;
    right: 50px;
    color: #fff;
    font-size: 60px;
    z-index: 1;
    cursor: grab;
}


#banner .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

#banner .slick-dots li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #c7b299;
    margin: 0 5px
}

#banner .slick-dots li button {
    color: transparent;
    background-color: #c7b299;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    margin-left: 2px;
    opacity: 0;
    cursor: pointer;
}


#banner .slick-dots li.slick-active button {
    opacity: 1;
}

/* =====BANNER SECTION END===== */