* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

p,
a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/* =====COMMON SETUP END===== */